* {
    color: var(--text-color);
    font-family: monospace, sans-serif;
    margin: 0;
    outline: none;
    padding: 0;
    text-decoration: none;
    transition-duration: .5s;
    user-select: none;

}

body {
    align-items: center;
    background-color: var(--background-color-primary);
    display: flex;
    flex-direction: column;
    gap: 2em;
    height: 100svh;
    justify-content: center;
}

img {
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    pointer-events: none;
    width: 100%;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 75svh;
    justify-content: space-between;
    width: clamp(300px, 80%, 1000px);
}

/* Header */

button,
label {
    background-color: transparent;
    background-size: cover;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 4em;
    width: 4em;
}

label {
    display: flex;
    height: 3.1em;
    width: 3.1em;
}

button:hover,
label:hover {
    box-shadow: var(--highlight-color) 0 0 10px;
    transform: scale(1.1);
}

header {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 50%;
}

header h1 {
    font-size: 8svh;
}

#file-input-buttons {
    display: flex;
    gap: 5em;
}

#ask-ai-button {
    background-image: url("../img/hugeicons--artificial-intelligence-04.svg");
}

#edit-input {
    display: none;
}

#download-button {
    background-image: url("../img/tabler--download.svg");
}

/* Flashcard */

#flashcard-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: clamp(0px, 100%, 525px);
    justify-content: center;
    perspective: 1000px;
    width: 100%;
}

#flipper {
    height: 100%;
    line-height: 2em;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 0.25s;
    width: 100%;
}

#flipper p {
    color: var(--text-color);
    margin: 1em;
}

#front {
    background-color: var(--background-color-secondary);
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    text-transform: uppercase;
}

#back {
    background-color: var(--background-color-tertiary);
    display: none;
    transform: rotateX(180deg);
}

#front,
#back {
    align-items: center;
    backface-visibility: visible;
    border-radius: 15px;
    box-shadow: var(--highlight-color) 0 0 10px;
    font-size: xx-large;
    font-weight: bold;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#front:hover,
#back:hover {
    box-shadow: var(--highlight-color) 0 0 20px;
}

#add-image-button {
    background-image: url("../img/bx--image-add.svg");
}

#add-flashcard {
    background-image: url("../img/material-symbols--add-card.svg");
}

#flip-flashcard {
    background-image: url("../img/solar--flip-vertical-bold.svg");
}

#delete-flashcard {
    background-image: url("../img/material-symbols--delete-outline.svg");
}

/* Navigation */

#questions-scroller {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
}

#questions-scroller span {
    color: var(--highlight-color);
    font-size: x-large;
}

#questions-scroller span#qs-active {
    color: var(--selection-color);
}

#navigation-buttons,
#flashcard-edition {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#navigation-buttons button:disabled {
    display: none;
}

#import-button {
    background-image: url("../img/tabler--file-import.svg");
}

#edit-button {
    background-image: url("../img/tabler--edit.svg");
}

#previous-button {
    background-image: url("../img/tabler--arrow-left.svg");
}

#shuffle-button {
    background-image: url("../img/tabler--arrows-shuffle.svg");
}

#next-button {
    background-image: url("../img/tabler--arrow-right.svg");
}

#edit-input:checked~#edit-button,
.active {
    background-color: var(--active-color);
}

/* Footer */

footer {
    display: flex;
    gap: 1em;
    justify-content: center;
    width: 100%;
}

/* Responsiveness */

@media screen and (width<=850px) {
    header h1 {
        font-size: 15svw;
    }

    body,
    main {
        gap: 1em;
    }

    #quizz-title {
        font-size: 5svw;
        text-align: center;
    }

    #flashcard-container {
        height: 50%;
    }

    #navigation-buttons,
    #flashcard-edition {
        justify-content: space-between;
    }

    #front,
    #back {
        font-size: large;
        line-height: normal;
    }

    #questions-scroller span {
        font-size: large;
    }
}
