* {
    font-family: monospace, sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    outline: none;
    user-select: none;
    transition-duration: .5s;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    flex-direction: column;
}

.main {
    text-align: center;
    margin: -10vh 0 3vh;
}

.title h1 {
    font-size: calc(24px + 5vw);
}

.title:hover {
    transition-delay: 3s;
    transform: rotateX(360deg);
}

.center-container {
    text-align: center;
    width: 45%;
    height: 40%;
}

.flip-container {
    perspective: 1000px;
    width: 100%;
    height: 100%;
}

.flipper {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.25s;
    text-align: center;
    line-height: 3em;
}

.flipper p {
    margin: 1em;
}

.front,
.back {
    font-size: xx-large;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: #666 0 0 10px;
    width: 100%;
    height: 100%;
    backface-visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
}

.front:hover,
.back:hover {
    box-shadow: #666 0 0 20px;
}

.front {
    background-color: #eee;
    text-transform: uppercase;
    justify-content: space-around;
    overflow: hidden;
    flex-direction: column-reverse;
}

.back {
    background-color: #ccc;
    transform: rotateX(180deg);
    display: none;
}

@media screen and (max-width: 850px) {
    .main {
        margin: -35% 0 0;
    }

    .center-container {
        width: 80%;
        height: 45%;
    }

    .front,
    .back {
        font-size: large;
        font-weight: bold;
    }
}

/* Questions scroller */

.question-scroller-wrapper {
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    display: flex;
}

.questions-scroller {
    width: auto;
    color: lightgray;
}

.questions-scroller:hover {
    transform: scale(3);
}

.questions-scroller span:hover:not(.qs-active) {
    color: #666;
}

.question-scroller-wrapper:hover>.questions-scroller {
    justify-content: space-between;
}

.qs-active {
    color: lightskyblue;
}

/* Previous, shuffle, and next question buttons */

.button-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1em;
}

.button-container button {
    padding: 2em;
    margin: 0 8%;
    border: 0;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

#shuffle-button {
    background-image: url('../img/shuffle_icon.png');
}

#next-button {
    background-image: url('../img/arrow_right.png');
}

#previous-button {
    background-image: url('../img/arrow_left.png');
}

.button-container button:hover {
    box-shadow: #666 0 0 10px;
    transform: scale(1.05);
    border-radius: 35%;
}

@media screen and (max-width: 850px) {
    .button-container {
        justify-content: space-between;
    }
}

/* Import button */

.import-questions label {
    height: auto;
    border-radius: 50% 50% 5px 5px;
    padding: 1em 1.6em;
    margin: 0 8%;
    border: 0;
    line-height: 90px;
    background-repeat: no-repeat;
    background-size: contain;
}

#import-button {
    background-image: url('../img/import_icon.png');
}

.import-questions label:hover {
    box-shadow: #666 0 0 10px;
    border-radius: 5px;
}

#title {
    margin-top: 1em;
}
